.homeContainer {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.homeImg {
  width: 478.4px;
  height: auto;
}

.upperSection {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem 2rem;
}

h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.upperSectionRightImg {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.upperSectionleftText {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.upperSectionleftText p {
  font-family: "Montserrat", sans-serif;
}

.middleSection {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.middleSection h2 {
  margin: 0px 0px;
}

.middleSectionLowerText {
  width: 35rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.lowerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.lowerSection div p {
  width: 15rem;
  font-family: "Montserrat", sans-serif;
}

.joinAGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.findAnEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.4rem;
  text-align: center;
  margin: 0rem 3rem;
}

.startAGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lowerSection div div {
  font-size: 20px;
  margin: 0px 0px;
  font-family: "Roboto", sans-serif;
}

.lowerSection div div:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttonContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(00, 82, 94);
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
