.singleEventContainerPage {
  display: flex;
  justify-content: center;
}

.eventDetailsPageContainer {
  width: 100%;
}

.hostPicture img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.eventHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem;
}

.eventHeader h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.hostSection {
  display: flex;
  flex-direction: row;
  margin: 1rem 0rem;
}

.hostedByOrganizerSection {
  margin: 0rem 1rem;
}

.hostedBy h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.hostName h3 {
  /* font-family: "Montserrat", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.middleSectionEventDetails {
  background-color: rgb(243, 239, 239);
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid lightgray;
}

.eventDetailsLeft {
  width: 45rem;
}

.eventDetailsLeft div {
  /* margin: 0rem 4rem; */
}

.eventDetailsLeft h2 {
  display: flex;
  margin: 1rem 0rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.eventDetailsLeft img {
  width: 42rem;
  height: 25rem;
  object-fit: cover;
  margin-top: 3rem;
}

.eventDetailsLeft p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  width: 94%;
}

.eventDetailsRight {
  position: relative;
  left: -1rem;
}

.eventGroupCard {
  margin-top: 3rem;
  background-color: white;
  width: 24rem;
  height: 8rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.eventGroupCard img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1;
  display: flex;
  color: black;
}

.eventGroupImgLeft {
  margin-left: 2rem;
}

.rightSideGroupNamePrivate {
  margin: 0rem 1rem;
  padding-right: 2rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 4.5rem;
}

.eventGroupName {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.eventGroupPrivate {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: gray;
  margin: 0.5rem 0rem;
}

.eventLocationTime {
  margin-top: 1rem;
  background-color: white;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  height: auto;
  width: 24rem;
  padding: 1rem 0rem;
  font-weight: bold;
}

.topDate {
  display: flex;
  flex-direction: row;
  margin: 0rem 1rem;
}

.timeLogo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(192, 192, 192);
}

.topDate div {
  padding: 0rem 1rem;
}

.dateBlock {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.bottomLocation {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.locationLogo {
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  color: gray;
}

.locationAddress {
  padding: 0rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.deleteButtonContainer {
  margin: 1rem 0rem;
}

.deleteButtonContainer button {
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}

.attendees-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.attendee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 10rem;
  height: 8rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.attendee-name h4 {
  font-size: 16px;
  font-weight: 800;
}

.attendee-status h4 {
  font-weight: 200;
}

.google-maps-container {
  width: 100%;
  height: 100%;
  background-color: yellow;
}
