html,
.pageContainer {
  height: 100%;
  margin: 0px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.groupBody {
  display: flex;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  height: 100%;
  overflow: hidden;
}

.upperSectionDetails {
  display: flex;
  margin: 0rem 2rem;
  /* border-bottom: 1px lightgray solid; */
  width: 55rem;
  padding: 1rem 0rem;
  /* justify-content: flex-start; */
  justify-content: center;
}

.leftImgContainer {
  display: flex;
  width: 34rem;
  height: 20rem;
  border-radius: 5%;
  justify-content: center;
}

.leftImgContainer img {
  width: 34rem;
  height: 20rem;
  object-fit: cover;
  /* margin: 0px auto; */
  overflow: hidden;
  border-radius: 5%;
  /* padding-left: 1rem; */
}

.rightSectionDetails {
  margin: 0rem 1rem;
  display: flex;
  width: 21rem;
  height: 20rem;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.rightSectionDetails h3 {
  margin: 0.5rem 0rem;
}

.groupName h1 {
  margin: 0px;
  display: flex;
  align-items: flex-start;
  font-size: 32px;
  font-family: "Noto Sans", sans-serif;
}

.groupLocation {
  font-family: "Montserrat", sans-serif;
}

.middleSectionMain {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #f6f7f9;
  overflow-y: scroll;
  box-sizing: content-box;
  border-top: lightgray 1px solid;
}

.middleSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55rem;
  overflow: auto;
  margin: 0rem 2rem;
  height: 56vh;
}

.middleSectionContainer h2 {
  font-size: 20px;
  margin: 0rem 1.5rem;
}

.middleSectionRightSide {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 21rem;
  margin: 1rem 2rem;
}

.middleSectionRightSide h3 {
  position: relative;
  font-size: 14px;
  padding-bottom: 0.75rem;
  font-family: "Montserrat", sans-serif;
  margin: 0rem 1.5rem;
}

.middleSectionLeftSide {
  display: flex;
  flex-direction: column;
  width: 34rem;
  margin: 1rem 0rem;
  font-family: "Montserrat", sans-serif;
}

.middleSectionLeftSide h2 {
  margin: auto 0rem;
}

.deleteEditButtons {
  display: flex;
  flex-direction: row;
}

.deleteEditButtons button {
  width: 5rem;
  margin: 0rem 0.5rem;
  cursor: pointer;
}

.centerButtonsContainer {
  display: flex;
  justify-content: center;
  border: 1px solid lightgray;
  width: 100%;
}

.centerButtons {
  display: flex;
  flex-direction: row;
  height: 2rem;
  background-color: white;
  width: 55rem;
  justify-content: center;
  padding: 1rem 0rem;
  /* padding-top: 1rem; */
}

.createEventButton {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.createEventButton button {
  width: 8rem;
  cursor: pointer;
  margin-right: 0.8rem;
}

.memberList {
  padding: 0.5rem;
  list-style: none;
  font-size: 14px;
  background-color: #e1e2e4;
  border-radius: 8px;
  width: 12rem;
}

.memberList li {
  margin: 0.25rem 0.5rem;
}

.memberLi {
  color: black;
  font-family: "Roboto", sans-serif;
}

.groupUpcomingEvents h2 {
  margin-top: 3rem;
}

.upcomingEventsCard {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 10rem;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.eventDateAndTime {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
}

.dateTimeText {
  margin: 0rem 0.5rem;
  font-weight: bold;
  color: #179498;
}

.eventName {
  margin: 0 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.groupEventLocation {
  margin: 0.5rem 1rem;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

.groupEventNumAttendees {
  margin: 1rem 1rem;
  font-size: 14px;
  color: gray;
}
