.progressBarStep2 {
  width: 50%;
  height: 12px;
  background-color: #0098ab;
}

.footerButtonContainerSetName {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.backButtonSetName {
  background-color: white;
  border: lightgray 2px solid;
  color: gray;
}

.mainContainerSetName {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}

.mainContainerSetName h3 {
  margin-top: 1.5rem;
  margin-right: 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.setGroupNameInput {
  margin-top: 1rem;
}

.setGroupNameInput input {
  width: 80%;
  height: 45px;
  font-size: 16px;
  padding-left: 1rem;
}

.setGroupNameInput input:focus {
  border: #0098ab solid 2px;
}

.errorListName {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
