.step3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.step3 span {
  font-size: 14px;
  color: #9b9b9b;
  font-family: "Roboto", sans-serif;
}

.progressBar3 {
  width: 45%;
  height: 12px;
  background-color: #0098ab;
}

.mainContainerSetDescription {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  width: 85%;
}

.mainContainerSetDescription h3 {
  margin-top: 1.5rem;
  margin-right: 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.mainContainerSetDescription ol {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.mainContainerSetDescription li {
  margin: 0.5rem 0rem;
}

.mainContainerSetDescription textarea {
  width: 50%;
  height: 250px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.groupDescriptionError {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
