.navDivContainer {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Damion", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  /* margin-left: 2rem; */
  height: 4.5rem;
  border-bottom: 1px lightgray solid;
}

.homebutton {
  display: flex;
  justify-content: flex-start;
  color: rgb(178, 25, 25);
  margin-left: 2rem;
}

.loginSignupContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin-right: 1rem;
}

.loginButton {
  display: flex;
  padding-right: 10px;
  border: none;
  cursor: pointer;
}

.signupButton {
  display: flex;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
}

.LoginButtonText {
  cursor: pointer;
}

.SignUpButtonText {
  cursor: pointer;
}
