.loginFormContainer {
  font-family: "Noto Sans", sans-serif;
  padding: 2rem;
}

.loginFormContainer h2 {
  margin: auto;
}

.loginErrorList {
  color: red;
  list-style-type: none;
  padding: 1rem 0rem;
}

.login-demouser-buttons button {
  cursor: pointer;
}

.demouserbutton button {
  cursor: pointer;
}
